<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        *{
            margin: 0;
            padding: 0;
        }
        #header{
            background-color: darkturquoise;
            padding: 40px;
        }
        h1 {
            color: blueviolet;
            text-align: center;
            font-family: "fantasy";
        }

        p {
            color: black;
        }


        .d1 {
            width: 50%;
            position: relative;
            margin: auto;
        }


    </style>
</head>
<body>
<div id="header">
    <h1>Бул сайт атайн Абдуллаева Умутай тузулду!</h1>
    <p>Урматтуу Абдуллаева умутай, Мен Душоев Зарипбек сени дээрлик 6 жылдан бери суйуп журом.Ушул откон 6 жылдын ичинде
        мен бир сен учун сенин бир дагы ун созунсуз чон риск менен умут кылып, озумду сага татыктуу кылып,башка бир дагы
        кызды карабай,бир дагы бузук аадатты кылбай сени деп журдум. Ар бир окуган намаздарымда сени сурап дуа кылып
        келдим. Ушул 6 жылда мен озумду озум даярдап келдим что бы сага жетип, сени бактылуу кылуу учун. Бул кылганымды
        баалап мага ишенип бирге болушунду суранам УМУТАЙ СУРАНАМ МАГА ЖОК ДЕБЕЙ МЕНИ КУТ.</p>
</div>
<div id="body">
    <div class="d1">
    <h1>Согласия</h1>
        <form id="f1">
            <label for="c1">vsnksn</label>
            <input id="c1" type="radio" value="vsnksn" name="all"><br>
            <label for="c2">casdsds</label>
            <input id="c2" type="radio" name="all">
        </form>
    </div>
</div>
<div id="footer">

</div>


</body>
</html>